<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid ">
         <a class="navbar-brand" href="#">Navbar w/ text</a>
         <p>caja2</p>
             <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      
                    </ul>
       
                 <span class="navbar-text">
                         Navbar text with an inline element
                 </span>
                 <span class="navbar-text">
                        Navbar text with an inline element
                 </span>
                 <span class="navbar-text">
                         3
                 </span>
             </div>
             Navbar text with an inline element 
    </div>
  </nav>